/* for big tablets to 1200px (for width smaller than 1140px row) */
@media only screen and (max-width:1200px){
 .hero-text-box {
  width: 100%;
  padding: 0 2%;
 }
 /* .row{padding:0 2%;} */
}


/* for small to big tablets from 768  - 1023px */
@media only screen and (max-width:1023px){
body{ font-size: 18px;}
section{padding: 60px 0;}
.long-copy{
 width: 80%;
 margin-left: 10%;
text-align: center;}
}


/* for small phones to tablets from 481  - 767px */
@media only screen and (max-width:767px){

}


/* for small phones from 0 - 480px */
@media only screen and (max-width:480px) {

}